{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Radon - {% block title %}{% endblock title %}</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    
    <link href='{% static "css/radon.css" %}' rel="stylesheet">
    <script src='{% static "js/radon.js" %}'></script>
    <script src='{% static "js/jquery-3.7.1.min.js" %}'></script>

  </head>

  <body>
    
    {% include "snippets/top_menu.html" %}  

	<div class="container-fluid">
	
      {% block content %}
      
      <div class="row my-3">
	  {% if user.is_authenticated %}
        <div class="col-2 my-5 sidebar" role="cdb-sidebar" >
          {% block sidebar %}
		  {% endblock sidebar %}
        </div>
        
        <div class="col-8 main">
      {% else %}
        <div class="col-10  main">
      {% endif %}

      {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"/>
        </div>
      {% endfor %}
      
      
          {% block main_content %}
          {% endblock main_content %}
    
        </div>
      </div>
	  
      {% endblock content %}
	</div>
	
  </body>
</html>

