{% load bootstrap_icons %}

<div class="collection-entry row">

    <div class="col-md-12">
      {% if collection.can_delete %}
        <a class="coll_item" href="{% url 'archive:delete_collection' path=collection.path %}">
		{% bs_icon 'x-circle' color='#428bca' %}
        </a>&nbsp;
      {% endif %}
      {% if collection.can_read %}
	    {% bs_icon 'folder-fill' color='#428bca' %}&nbsp;
        <a class="coll_item" href="{% url 'archive:view' path=collection.path %}">
          {{ collection.name }}
        </a>
      {% else %}
        <span style="color: #999;">
          {{ collection.name }}
        </span>
      {% endif %}
    </div>

</div>

