{% extends "groups/base.html" %}

{% block title %}Add user(s) to group{% endblock title %}

{% block main_content %}

<div class="row">
  <div class="col">
    <h2>Group {{ group.name}}</h2><h4>Add/Remove user(s)</h4>
  </div>
  <div class="col text-end">
    <a class="btn btn-primary" href="{% url 'groups:home' %}">
      &laquo; Back to Group list
    </a>
  </div>
</div>

<hr/>

{% include "groups/add_form.html" with form=form action='add' group=group users=users%}

{% endblock main_content %}


