{% extends "groups/base.html" %}


{% block title %}Request deletion of Group - {{group.name}}{% endblock title %}

{% block main_content %}

<h2>Request deletion of Group - {{group.name}}</h2>

<br/><br/>

<div class="mb-3 text-center">
  <div class="lead">
    Are you sure you wish to request the deletion of group {{group.name}}?
  </div>
</div>

<div class="mb-3 text-center">
  <form action="{% url 'groups:delete_group' name=group.name %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-sm btn-danger">Request for deletion</button>
    <a href="{% url 'groups:home' %}" class="btn btn-sm btn-success">Cancel</a>
  </form>
</div>

{% endblock main_content %}