{% load gravatar %}
{% load bootstrap_icons %}

<tr>
  <td>
    {% gravatar group.name 20 %}
  </td>
  <td>
    <a href="{% url 'groups:view' name=group.name %}">
      {{ group.name }}
    </a>
  </td>
  {% if user.administrator %}
    <td>
        <a href="{% url 'groups:view' name=group.name %}" class="table-link">
          {% bs_icon 'pencil' color='#428bca' %}
        </a>
      <a href="{% url 'groups:delete_group' name=group.name %}">
          {% bs_icon 'trash' color='#8baaca' %}
      </a>
    </td>
  {% endif %}
</tr>