{% extends "groups/base.html" %}
{% load bootstrap_icons %}

{% load gravatar %}

{% block title %}Groups - {{group.name}}{% endblock title %}

{% block main_content %}

<div class="row">
  <div class="col">
    <h2>{% gravatar group.name 40 %} {{ group.name }}</h2>
  </div>
  <div class="col text-end">
    <a class="btn btn-primary" href="{% url 'groups:home' %}">
      &laquo; Back to Group list
    </a>
  </div>
</div>

<hr/>

<h3>Members</h3>

<div class="row">
  <div class="col">
    <div class="main-box clearfix">
      <div class="table-responsive">
        <table class="table user-list" aria-label="List of members">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            {% for member_name in members %}
              <tr>
                <td>
                  {% bs_icon 'dot' color='#8baaca' %}
                  <a href="{% url 'users:view' login=member_name %}">{{ member_name }}</a>
                </td>
                <td>
                  <a class="text-end" 
                     href="{% url 'groups:rm_user' name=group.name uname=member_name %}">
                    {% bs_icon 'trash' color='#8baaca' %}
                  </a>
                </td>
              </tr>
            {% endfor %}
            {% if user.administrator %}
              <tr>
                <td>
                  <a href="{% url 'groups:add_user' name=group.name %}">Add/Remove user</a>
                </td>
                <td></td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



{% endblock main_content %}
