{% extends "archive/base.html" %}

{% block title %}Request deletion of Collection - {{collection.name}}{% endblock title %}

{% block main_content %}

<h2>Request deletion of Collection - {{collection.name}}</h2>

<br/><br/>

<div class="mb-3 text-center">
  <div class="lead">
    Are you sure you wish to request the deletion of collection {{collection.name}}?
  </div>
</div>

<div style="font-size:1.5em;" class="alert alert-danger">
  <div class="lead">
    Deleting this collection will delete the collection,
    and all items and collections within it.
  </div>
</div>

<div class="mb-3 text-center">
  <form action="{% url 'archive:delete_collection' path=collection.path %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-sm btn-danger">Request for deletion</button>
    <a href="{% url 'archive:view' path=collection.path %}" class="btn btn-sm btn-success">Cancel</a>
  </form>
</div>

{% endblock main_content %}