{% extends "archive/base.html" %}

{% block title %}Edit Collection - {{collection.name}}{% endblock title %}

{% block main_content %}

<div class="row">
	<div class="col">
		<h2>Edit Collection - {{collection.name}}</h2>		
	</div>
	<div class="col text-end">
	  <a class="btn btn-primary" href="{% url 'archive:view' path=collection.path %}">
        &laquo; Back to '{{ collection.name }}' collection
      </a>
	</div>
</div>


<hr/>

{% include "archive/collection/collection_form.html" with form=form collection=collection groups=groups action='edit'%}

{% endblock main_content %}


