{% extends "archive/base.html" %}

{% block title %}New Collection in '{{ parent.name }}'{% endblock title %}

{% block main_content %}


<div class="row">
	<div class="col">
		<h2>New Collection in '{{parent.name}}'</h2>		
	</div>
	<div class="col text-end">
	  <a class="btn btn-primary" href="{% url 'archive:view' path=parent.path %}">
        &laquo; Back to '{{parent.name}}' collection
      </a>
	</div>
</div>

<hr/>


{% include "archive/collection/collection_form.html" with form=form groups=groups collection=parent  action='new' %}

{% endblock main_content %}


