{% extends "archive/base.html" %}

{% block title %}Request deletion of Item - {{resource.name}}{% endblock title %}

{% block main_content %}

<h2>Request deletion of Item - {{resource.name}}</h2>

<br/><br/>

<div class="mb-3 text-center">
  <div class="lead">
    Are you sure you wish to request the deletion of resource {{resource.name}}?
  </div>
</div>

<div class="mb-3 text-center">
  <form action="{% url 'archive:delete_resource' path=resource.path %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-sm btn-danger">Request for deletion</button>
    <a href="{% url 'archive:view' path=resource.path %}" class="btn btn-sm btn-success">Cancel</a>
  </form>
</div>

{% endblock main_content %}