{% extends "archive/base.html" %}

{% block title %}New Item in '{{ container.name }}'{% endblock title %}

{% block main_content %}


<div class="row">
	<div class="col">
		<h2>New Item in '{{container.name}}'</h2>		
	</div>
	<div class="col text-end">
	  <a class="btn btn-primary" href="{% url 'archive:view' path=container.path %}">
        &laquo; Back to '{{container.name}}' collection
      </a>
	</div>
</div>

<hr/>

{% include "archive/resource/resource_form.html" with form=form groups=groups container=container  action='new' %}

{% endblock main_content %}


