{% load bootstrap_icons %}

<div class="row resource-entry">
  <div class="col">	  
      {% if resource.can_delete %}
        <a class="coll_item" href="{% url 'archive:delete_resource' path=resource.path %}">
		{% bs_icon 'x-circle' color='#428bca' %}
        </a>
         &nbsp;
      {% endif %}
      {% if resource.can_read %}
      <span class="badge rounded-pill bg-info">{{resource.type|default:"Unknown"}}</span>
      <a class="coll_item" href="{% url 'archive:resource_view' path=resource.path %}">
        {{ resource.name }}
      </a>
         &nbsp;
      {% else %}
        <span style="color: #999">
         <i class="label label-default">{{resource.type|default:"Unknown"}}</i>
         &nbsp;
         &nbsp;
        {{ resource.name }}
        </span>
      {% endif %}
    
  </div>
  <div class="col">

      {% if resource.can_read %}
      <span class="d-flex justify-content-end">
      <a class="coll_item btn btn-sm btn-success" href="{% url 'archive:download' path=resource.path%}" >
        Download &nbsp;{% bs_icon 'cloud-arrow-down' color='#fff' %}
      </a></span>
      {% endif %}
  </div>
</div>