{% extends "archive/base.html" %}

{% block title %}Item - {{resource.name}}{% endblock title %}

{% block main_content %}

<h2> &nbsp;
  <div class="div-search" style="width:400px;">
    {% include "snippets/search_form.html" with q=q size="small"%}
  </div>
  </h2>
<hr/>

<h2>&nbsp;<a class="btn btn-success pull-right" href="{% url 'archive:download' path=resource.path %}">Download file</a>

</h2>
<hr/>


<ol class="breadcrumb">
  <li><a href="{% url 'archive:view' %}">Home</a></li>
  {% for coll,full in collection_paths %}
    {% if forloop.last %}
        <li class="active"><a href="{% url 'archive:view' path=full %}">{{coll}}</a></li>
    {% else %}
        <li><a href="{% url 'archive:view' path=full %}">{{coll}}</a></li>
    {% endif %}
  {% endfor %}
   <li>{{resource.name}}</li>
</ol>


{# Permission check for action bar .... #}

    <div class="control-bar">
        {% if resource.can_edit %}
        <a class="btn btn-info" href='{% url "archive:edit_resource" path=resource.path %}'%}>Edit Item</a>
        {% endif %}
        {% if resource.can_delete %}
        <a class="btn btn-danger" href='{% url "archive:delete_resource" path=resource.path %}'>Delete Item</a>
        {% endif %}

        <div class="clearfix"></div>
    </div>

    <hr/>


    <div class="meta-container">
      <div class="meta-title">System Metadata</div>
      <table class="meta-table">
        <thead>
          <tr><th>Name</th><th>Value</th></tr>
        </thead>
        
        
        <tbody>
          {% for m in resource.sys_meta %}
            <tr><th>{{ m.0 }}</th><td>{{ m.1 }}</td></tr>
          {% endfor %}
          
        <tr>
            <th>CDMI URL:</th>
            <td><a href='{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/api/cdmi{{resource.path}}'>
              {% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/api/cdmi{{resource.path}}
               </a></td>
        </tr>
        {% if resource.is_reference %}
            <tr>
                <th>Reference:</th>
                <td><a href="{{resource.url}}">{{resource.url}}</a></td>
            </tr>
        {% endif %}
        
       {% if request.user.administrator and not resource.is_reference %}
        <tr>
            <th>Internal URL</th>
            <td>{{resource.url}}</td>
        </tr>
        {% endif %}
        </tbody>
      </table>
    </div>

    <hr/>
    
    <div class="meta-container">
      <div class="meta-title">User Metadata</div>
      <table class="meta-table">
        <thead>
          <tr><th>Name</th><th>Value</th></tr>
        </thead>
        <tbody>
          {% for m in resource.user_meta %}
            <tr><th>{{ m.0 }}</th><td>{{ m.1 }}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


{% endblock main_content %}


