/* top navbar */

nav.navbar div{
  background-color: rgb(44, 62, 80);
}


ul.navbar-nav li.nav-item.active {
 background-color: rgb(66, 86, 106);
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(153, 193, 241);
}

.navbar-toggler {
 background-color: rgb(192, 192, 192);
}


/* Sidenav */


ul.nav.flex-column li.nav-item.active {
  background-color: rgb(192, 192, 192);
}


ul.nav.flex-column li.nav-item .nav-link {
  color: rgb(44, 62, 80);
}

ul.nav.flex-column li.nav-item .nav-link:hover {
  color: rgb(153, 193, 241);
}

ul.nav.flex-column li.nav-item.active .nav-link {
  color: #fff;
}

/* Search bar */

.input-search {
	width: 400px;
}

/* breadcrumb */

.breadcrumb {
   background-color: rgb(229, 229, 229);
}

.breadcrumb-item a,
li.breadcrumb-item {
  text-decoration: none;
  color: rgb(119, 118, 123);	
}

.breadcrumb-item a:hover {
  color: rgb(153, 193, 241);
}

.breadcrumb-item.active a, 
.breadcrumb-item.active {
  color: rgb(26, 95, 180);
}


/* Metadata table for collections */

.meta-container {
  border-radius: 15px;
  border: 1px dotted #428bca;
  padding: 10px; 
}


.meta-title {
  width: max-content;
  margin-left: 1em;
  margin-top: -1.4em;
  background:white;
}

.meta-table {
  border-spacing: 0;
  width:100%;
}

.meta-table thead th {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    font-weight: normal;
    text-align: center;
    color: #18bc9c;
}

.meta-table thead th:first-of-type {
    background-color: #aaaaca;
    color: white;
    width: 25%;
}

.meta-table tbody tr:nth-child(even) {
    background-color: #f5f5f5
}

.meta-table tbody tr:nth-child(odd) {
    background-color: #ffffff
}

/* Users */


.user-list tbody td > img {
    position: relative;
	max-width: 50px;
	float: left;
	margin-right: 15px;
}
.user-list tbody td .user-link {
	display: block;
	font-size: 1.25em;
	padding-top: 3px;
	margin-left: 60px;
}

table.user-list {
    border-collapse: separate;
}

a.table-link {
	text-decoration: none;
}

.user-list tbody td .user-subhead {
	font-size: 0.875em;
	font-style: italic;
}


/* Forms */

form .has-error {
    background-color: rgb(255, 155, 155);
    padding: 10px;
}



/* Misc */

hr {
	background-color: #eee;
}

a.coll_item {
  text-decoration: none;

}