{% extends "users/base.html" %}

{% block title %}Request deletion of User - {{login}}{% endblock title %}

{% block main_content %}

<h2>Request deletion of User - {{login}}</h2>

<br/><br/>

<div class="mb-3 text-center">
  <div class="lead">
    Are you sure you wish to request the deletion of user {{login}}?
  </div>
</div>

<div class="mb-3 text-center">
  <form action="{% url 'users:delete_user' login=login %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-sm btn-danger">Request for deletion</button>
    <a href="{% url 'users:home' %}" class="btn btn-sm btn-success">Cancel</a>
  </form>
</div>

{% endblock main_content %}