{% extends "base.html" %}

{% load bootstrap_icons %}


{% block title %}Login{% endblock title %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-4 my-5">


  {% if errors %}
  <div class="alert alert-danger">
    {{ errors }}
  </div>
  {% endif %}


  <h2 class="text-center">Login to Radon</h2>
  
  <div>
    <form class="bg-light card p-3
          id="loginForm" 
          method="POST" 
          action="{% url 'users:auth_login' %}" 
          novalidate="novalidate">
      {% csrf_token %}
      
      <div class="input-group py-2">
        <span class="input-group-text" 
              id="basic-addon1">
          {% bs_icon 'person-fill' color='#428bca' %}
        </span>
        <input type="text" 
               class="form-control" 
               placeholder="Username" 
               aria-label="Username"
                aria-describedby="basic-addon1"
               id="username" 
               name="username" 
               title="Please enter you username"  />
      </div>
      
      
      <div class="input-group py-2">		  
        <span class="input-group-text" 
              id="basic-addon1">
          {% bs_icon 'shield-lock' color='#428bca' %}
        </span>		  
        <input type="password" 
               class="form-control" 
               id="password" 
               name="password" 
               value="" 
               required="" 
               title="Please enter your password" 
               placeholder="Password" />
         <span class="input-group-text" 
               id="basic-addon1"
               onclick="password_show_hide();">
           <span id="show_eye">{% bs_icon 'eye-fill' color='#428bca' %}</span>
           <span class="d-none" id="hide_eye">{% bs_icon 'eye-slash-fill' color='#428bca' %}</span class="d-none">
         </span>
          
        </span>
      </div>



	 	<div class="text-center">
          <button type="submit" class="btn btn-success btn-block">Login</button>
        </div>
        
      <!--<a href="/accounts/forgot/" class="btn btn-default btn-block">Forgotten password</a>-->
      
    </form>
  </div>
 </div>
</div>


{% endblock %}

{% block extra_javascript %}
  <script type="text/javascript">
  $(document).ready(function (){$('#username').focus();});
  </script>
{% endblock extra_javascript %}