<ul class="nav flex-column">
  <li class="nav-item{% if active == 'archive' %} active{% endif %}">
    <a class="nav-link" href="{% url 'archive:home' %}">Archive</a>
  </li>
  <li class="nav-item{% if active == 'users' %} active{% endif %}">
	<a class="nav-link" href="{% url 'users:home' %}">Users</a>
  </li>
  <li class="nav-item{% if active == 'groups' %} active{% endif %}">
    <a class="nav-link" href="{% url 'groups:home' %}">Groups</a>
  </li>
  <li class="nav-item{% if active == 'activity' %} active{% endif %}">
    <a class="nav-link" href="{% url 'activity:home' %}">Activity</a>
  </li>
  <li class="nav-item{% if active == 'settings' %} active{% endif %}">
    <a class="nav-link" href="{% url 'settings:home' %}">Settings</a>
  </li>
  <li><div class="height-30"></div></li>

</ul>